.version.cocaine /* version checker */
{
	color: #0000F2;
	background-color: #5C40C4;
}

.html
{
	background-color: #FFCB00;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #330099;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1204px;
	width: 0.01px;
}

#u118
{
	z-index: 2;
	width: 960px;
}

#pmenuu255
{
	width: 0.01px;
	margin-left: 20px;
}

#menuu255
{
	z-index: 4;
	width: 920px;
	margin-right: -10000px;
}

#u256
{
	width: 305px;
	min-height: 44px;
	margin-right: -10000px;
}

#u257
{
	width: 305px;
	padding-bottom: 27px;
}

#u257:hover
{
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u257:active
{
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u259-4
{
	width: 305px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u257:hover #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u257:active #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u257.MuseMenuActive #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u263
{
	width: 305px;
	min-height: 44px;
	margin-right: -10000px;
	left: 307px;
}

#u264
{
	width: 305px;
	padding-bottom: 27px;
}

#u257.MuseMenuActive,#u264:hover
{
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u264:active
{
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u264.MuseMenuActive
{
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u265-4
{
	width: 291px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u264:hover #u265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#u264:active #u265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#u264.MuseMenuActive #u265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#u266
{
	z-index: 17;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 15px;
	left: 291px;
}

#u264:hover #u266
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u264:active #u266
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u264.MuseMenuActive #u266
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u268
{
	width: 120px;
	top: 44px;
}

#u291
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u291:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u293-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u291:hover #u293-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u303
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u291.MuseMenuActive,#u303:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u306-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u291.MuseMenuActive #u293-4,#u303:hover #u306-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u269,#u290,#u302,#u309
{
	width: 120px;
}

#u310
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u303.MuseMenuActive,#u310:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u310.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u312-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u303.MuseMenuActive #u306-4,#u310:hover #u312-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u310.MuseMenuActive #u312-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u277
{
	width: 306px;
	min-height: 44px;
	margin-right: -10000px;
	left: 614px;
}

#u280
{
	width: 306px;
	padding-bottom: 27px;
}

#u280:hover
{
	width: 306px;
	min-height: 0px;
	margin: 0px;
}

#u280:active
{
	width: 306px;
	min-height: 0px;
	margin: 0px;
}

#u280.MuseMenuActive
{
	width: 306px;
	min-height: 0px;
	margin: 0px;
}

#u283-4
{
	width: 306px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u280:hover #u283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 306px;
	margin: 0px -10000px 0px 0px;
}

#u280:active #u283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 306px;
	margin: 0px -10000px 0px 0px;
}

#u280.MuseMenuActive #u283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 306px;
	margin: 0px -10000px 0px 0px;
}

#u151-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u152-7
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 378px;
	left: 20px;
}

#u155
{
	z-index: 55;
	width: 388px;
	background-color: transparent;
	margin-left: 547px;
	margin-top: 12px;
	position: relative;
}

#pu159
{
	width: 0.01px;
	margin-left: 547px;
	margin-top: 12px;
}

#u159
{
	z-index: 57;
	width: 386px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u167-3
{
	z-index: 61;
	width: 1px;
	min-height: 4px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 278px;
}

#u156
{
	z-index: 59;
	width: 381px;
	background-color: #FFFFFF;
	margin-left: 549px;
	margin-top: 12px;
	position: relative;
}

#pu175-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 21px;
}

#u175-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u180
{
	z-index: 87;
	width: 640px;
	min-height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 785px;
	left: 161px;
}

#u182
{
	z-index: 88;
	width: 419px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 33px;
}

#u176-16
{
	z-index: 68;
	width: 399px;
	min-height: 233px;
	background-color: transparent;
	margin-left: 502px;
	top: -972px;
	margin-bottom: -476px;
	position: relative;
}

#u176,#u176-3,#u176-4,#u176-6,#u176-7,#u176-9,#u176-10
{
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
}

#u177-3
{
	z-index: 84;
	width: 5px;
	background-color: transparent;
	margin-left: 1105px;
	margin-top: 1248px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

