.version.marijuana /* version checker */
{
	color: #00001E;
	background-color: #B5FEE0;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #330099;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 62px;
	width: 0.01px;
}

#u118
{
	z-index: 2;
	width: 960px;
}

#pmenuu255
{
	width: 0.01px;
	margin-left: 20px;
}

#menuu255
{
	z-index: 4;
	width: 920px;
	margin-right: -10000px;
}

#u256
{
	width: 305px;
	min-height: 44px;
	margin-right: -10000px;
}

#u257
{
	width: 305px;
	padding-bottom: 27px;
}

#u257:hover
{
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u257:active
{
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u259-4
{
	width: 305px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u257:hover #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u257:active #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u257.MuseMenuActive #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 305px;
	margin: 0px -10000px 0px 0px;
}

#u263
{
	width: 305px;
	min-height: 44px;
	margin-right: -10000px;
	left: 307px;
}

#u264
{
	width: 305px;
	padding-bottom: 27px;
}

#u257.MuseMenuActive,#u264:hover
{
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u264:active
{
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u264.MuseMenuActive
{
	width: 305px;
	min-height: 0px;
	margin: 0px;
}

#u265-4
{
	width: 291px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u264:hover #u265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#u264:active #u265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#u264.MuseMenuActive #u265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 291px;
	margin: 0px -10000px 0px 0px;
}

#u266
{
	z-index: 17;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 15px;
	left: 291px;
}

#u264:hover #u266
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u264:active #u266
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u264.MuseMenuActive #u266
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u268
{
	width: 120px;
	top: 44px;
}

#u291
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u291:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u293-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u291:hover #u293-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u303
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u291.MuseMenuActive,#u303:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u306-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u291.MuseMenuActive #u293-4,#u303:hover #u306-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u269,#u290,#u302,#u309
{
	width: 120px;
}

#u310
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u303.MuseMenuActive,#u310:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u310.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u312-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u303.MuseMenuActive #u306-4,#u310:hover #u312-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u310.MuseMenuActive #u312-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u277
{
	width: 306px;
	min-height: 44px;
	margin-right: -10000px;
	left: 614px;
}

#u280
{
	width: 306px;
	padding-bottom: 27px;
}

#u280:hover
{
	width: 306px;
	min-height: 0px;
	margin: 0px;
}

#u280:active
{
	width: 306px;
	min-height: 0px;
	margin: 0px;
}

#u280.MuseMenuActive
{
	width: 306px;
	min-height: 0px;
	margin: 0px;
}

#u283-4
{
	width: 306px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u280:hover #u283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 306px;
	margin: 0px -10000px 0px 0px;
}

#u280:active #u283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 306px;
	margin: 0px -10000px 0px 0px;
}

#u280.MuseMenuActive #u283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 306px;
	margin: 0px -10000px 0px 0px;
}

#u174-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#pu188-5
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 9px;
}

#u188-5
{
	z-index: 48;
	width: 483px;
	min-height: 723px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u188-2
{
	font-size: 20px;
	text-align: justify;
	line-height: 24px;
	color: #FFFFFF;
}

#pu189
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 492px;
}

#u189
{
	z-index: 53;
	width: 417px;
	background-color: transparent;
	position: relative;
}

#u201
{
	z-index: 55;
	width: 417px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#u207
{
	z-index: 57;
	width: 418px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#pu213-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 47px;
}

#u213-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u217
{
	z-index: 66;
	width: 450px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 8px;
}

#u217_img
{
	padding-bottom: 54px;
}

#u226
{
	z-index: 68;
	width: 450px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 506px;
	left: 8px;
}

#u232-14
{
	z-index: 70;
	width: 437px;
	min-height: 471px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 482px;
}

#u233
{
	z-index: 84;
	width: 640px;
	min-height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 182px;
	margin-top: 25px;
	position: relative;
}

#u216-3
{
	z-index: 63;
	width: 437px;
	min-height: 630px;
	background-color: transparent;
	margin-left: 503px;
	top: -770px;
	margin-bottom: -630px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

